<html>
  <head>
    <meta charset='utf-8' />
    <title></title>
    <style>
      body{ font-size: 18px; font-family: 'Garamond Premier Pro'; color:
      #121212; } .content{ margin: 0 auto; background-color: white; } .password{
      color: black; width: 100px; font-weight: 700; font-size: 24px; height:
      40px;text-align: center; margin:0 auto; } .content__frames{ padding: 2px
      5px 5px 5px; } .link_name{ font-size: 16px; }

    </style>
  </head>
  <body>
    <div>
      <div class='content'>
        <div class='content__frames'>
          <p>Sử dụng mã dưới đây để xác thực tài khoản của bạn:</p>
          <p>{{randomKey}}</p>
          <p>Thông báo này sẽ tự hủy trong 3 phút. Dù không tự hủy thì mã này
            cũng sẽ không dùng được sau khoảng thời gian này và chỉ dùng được
            một lần.</p>
          <p>Trân trọng,</p>
          <p>Long</p>
        </div>
      </div>

    </div>

  </body>
</html>